<!---
<%# alternative to alert code below %>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
--->

<%# Alternative to code above %>
<%= alert %>

<h1><%= link_to('Flickr Finder', root_path) %></h1>

<%= render 'form' %>

<% if params[:flickr_id] && flash.empty? %>
  <h4><%= params[:flickr_id] %>'s photos:</h4>
<% else %>
  <h4>Recent Flickr photos:</h4>
<% end %>

<% @photos.each do |photo| %>
  <%= link_to(image_tag(Flickr.url(photo)), Flickr.url_photopage(photo)) %>
<% end %>
